body {
    background-color:rgb(19, 18, 18);
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;          
    color: white;
    gap: 55px;
}

#screen {
    background: #111;
}

.n-input {
    padding-bottom: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.collision {
    
}