body {
    background-color:rgb(19, 18, 18);
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;          
    color: white;
    gap: 55px;
    overflow-x: hidden;
}

#screen {
    background: #111;
    height: 350px;
    width: 1000px;
}

.n-input {
    padding-bottom: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.canvasDiv {
    height: 350px;
    width: 900px;
    overflow-x: auto;
    overflow-y: hidden;
}